.card {
    border-radius: 15px !important;
}

input.form-control {
    padding: 12px;
    border-radius: 10px;
}

button {
    border-radius: 10px !important;
    padding: 10px;
    font-weight: 600;
}



/* Weather Page Styling */
.weather-card {
    border-radius: 15px;
    background: white;
    border-left: 5px solid #007bff;
    padding: 15px;
    margin-bottom: 20px;
}

.custom-table {
    border-radius: 15px;
    overflow: hidden;
}

.table-hover tbody tr:hover {
    background-color: #f0f6ff;
}

.loader {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: 500;
    color: #666;
}

table img {
    border-radius: 50%;
}

.table-primary th {
    background-color: #007bff !important;
    color: white;
}

.weather-title {
    font-size: 28px;
    font-weight: 700;
    color: #007bff;
}

.weather-subtitle {
    color: #666;
    font-size: 14px;
}

