.card {
    border-radius: 15px !important;
}

input.form-control {
    padding: 12px;
    border-radius: 10px;
}

button {
    border-radius: 10px !important;
    padding: 10px;
    font-weight: 600;
}
